<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--
    To update:
    * Navigate to https://pkgs.dev.azure.com/microsoft/Dart/_packaging/Edit_PublicPackages/
    * Click "Search Upstream Sources" and select "NuGet"
    * Search for "Tools.InnoSetup"
    * Click on the latest version and select "Save to feed"
  -->
  <package id="Tools.InnoSetup" version="7.1.0" />
</packages>
